<%= form_for(@article, :html => {:multipart => true}) do |f| %>
    <%= render 'shared/error_messages', :target => @article %>
    <div class="field">
      <%= f.hidden_field :user_id, :value => current_user.id if user_signed_in? %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <% if @article.preview_file_name? %>
          <%= image_tag @article.preview.url(:list) %>
          <br/>
      <% end %>
      <%= f.label :preview %>
      <br/>
      <%= f.file_field :preview %>
    </div>
    <div class="field">
      <%= f.label :category_id %>
      <br/>
      <%= f.collection_select(:category_id, Category.all, :id, :title, :include_blank => "Не выбрана ...") %>
    </div>
    <div class="field">
      <%= f.label :short_description %>
      <br/>
      <%= f.text_area :short_description, :rows => 5, :cols => 34 %>
    </div>
    <div class="field">
      <%= f.label :to_index %>
      <br/>
      <%= f.check_box :to_index %>
    </div>
    <div class="field">
      <%= f.label :album_id %>
      <br/>
      <%= f.collection_select(:album_id, Album.all, :id, :title, :include_blank => "Не выбран ...") %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <br/>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<script language="javascript">
    $(document).ready(function () {
        $("#article_content").markItUp(mySettings);
    })
</script>