<div class="body">
  <div class="b-first">
    <div class="column-left">
      <%= render "news" %>
    </div>
    <div class="column-right">
      <div class="b-right-banner">
        <%= render "layouts/like_box" %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="b-advert">
    <%= render "museum" %>
  </div>

  <div class="b-community">
    <!--<h2><span>Мир</span></h2>-->
    <div class="column-left">
      <%= render "events" %>
    </div>

    <div class="column-right">
      <%= render "companies" %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="b-advert">
    <%= render "albums" %>
  </div>

  <div class="b-new-users">
    <%= render "users" %>
  </div>



</div>
