<%= form_for(@static, :builder => StarsFormBuilder) do |f| %>
  <%= render 'shared/error_messages', :target => @static %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :static_id %><br />
    <%= f.collection_select(:static_id, Static.first_level, :id, :title, {:include_blank => "В составе ..."}) %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
    <div class="field">
      <%= f.label :static_order %><br />
      <%= f.text_field :static_order %>
    </div>
    <div class="field">
      <%= f.label :short_url %><br />
      <%= f.text_field :short_url %>
    </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script language="javascript">
    $(document).ready(function () {
        $("#static_content").markItUp(mySettings);
    })
</script>