<div class="body">
  <ul class="second-top-menu">
    <% if @static.static_id.nil?
         second_level = @static.statics
       else
         second_level = @static.static.statics
       end

       second_level.each do |static| %>
        <li class="<%= 'active' if static == @static %>">
          <%= link_to static.title, "/#{static.static.short_url}/#{static.short_url}" %>
          <%= "/" if static != second_level.last %>
        </li>
    <% end %>
  </ul>

  <% if can?(:manage, :all) %>
      <ul class="second-top-menu admin-menu">
        <li><%= link_to(t('backend.actions.edit'), edit_static_path(@static)) %> /</li>
        <li><%= link_to(t('backend.actions.destroy'), @static, :confirm => t('backend.actions.are_you_sure'), :method => :delete) %></li>
      </ul>
  <% end %>

  <div class="column-left">
    <h1><%= @static.title %></h1>

    <div class="text">
      <%= raw @static.content %>
    </div>

  </div>
  <div class="column-right">
    <div class="b-right-banner">
      <%= render "layouts/like_box" %>
    </div>
  </div>
  <div class="clear"></div>
</div>