<div class="footer">
  <h3><span>Карта сайта</span></h3>
  <ul class="bottom-menu">
    <li>
      <a href="/news" class="top-level">Новости</a>
      <ul>
        <% @menu_categories.each do |category| %>
            <li>
              <%= link_to category.title, "/#{category.short_url}" %>
            </li>
        <% end %>
      </ul>
    </li>
    <li>
      <a href="/albums" class="top-level">Фото</a>
      <ul>
        <% @menu_categories.each do |category| %>
            <li>
              <%= link_to category.title, "/photo/#{category.short_url}" %>
            </li>
        <% end %>
      </ul>
    </li>
    <% @menu_statics.each do |static| %>
        <li>
          <%= link_to static.title, "/#{static.short_url}", :class => "top-level" %>

          <% if static.statics.size > 0 %>
              <ul>
                <% static.statics.each do |second_level| %>
                    <li><%= link_to second_level.title, "/#{static.short_url}/#{second_level.short_url}" %></li>
                <% end %>
              </ul>
          <% end %>
        </li>
    <% end %>

  </ul>
  <div class="copyright">
    <%= link_to "В начало", "#", :class => "logo-bottom", :title => "На главную" %>
    <p>&copy; 1929 - 2012, Менделеевец. РХТУ им. Д.И. Менделеева.</p>
  </div>
</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25713460-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>