<ul class="top-menu" id="top-menu">
  <li>
    <a class="top-menu-item" href="/news">НОВОСТИ</a>
    <span class="divider">/</span>

    <div class="sub-top-menu">
      <div class="sub-top-menu-inner">
        <ul>
          <% @menu_categories.each do |category| %>
              <li>
                <%= link_to category.title, "/#{category.short_url}" %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <a class="top-menu-item" href="/albums">Фото</a>
    <span class="divider">/</span>

    <div class="sub-top-menu">
      <div class="sub-top-menu-inner">
        <ul>
          <% @menu_categories.each do |category| %>
              <li>
                <%= link_to category.title, "/photo/#{category.short_url}" %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </li>
  <% @menu_statics.each do |static| %>
      <li>
        <%= link_to static.title, "/#{static.short_url}", :class => "top-menu-item" %>
        <%= raw '<span class="divider">/</span>' if static != @menu_statics.last %>

        <% if static.statics.size > 0 %>
            <div class="sub-top-menu">
              <div class="sub-top-menu-inner">
                <ul>
                  <% static.statics.each do |second_level| %>
                      <li><%= link_to second_level.title, "/#{static.short_url}/#{second_level.short_url}" %></li>
                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>
      </li>
  <% end %>

  <li class="logo-mendeleevec">
  </li>
</ul>
