<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-RU">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
  <title><%= yield(:title).blank? ? '' : "#{yield(:title)} :: " %><%= raw t('site_name') %></title>
  <link href='http://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic,latin' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "application" %>

  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= hidden_div_if(alert, :id => 'alert') { alert } %>
<%= hidden_div_if(notice, :id => 'notice') { notice } %>
<div class="wrapper">
  <!--<div class="banner-top">-->
  <!--<a href="#"><img src="/assets/images/temp-banner-top.png" alt="Баннерчег такой тут весь красивый" width="990" height="88"/></a>-->
  <!--</div>-->
  <div class="header">
    <%= link_to image_tag("logo.png", :alt => "газета Менделеевец РХТУ им. Д.И. Менделеева"), root_path, :class => "logo", :title => yield(:title).blank? ? raw(t('site_name')) : "#{yield(:title)} :: #{raw(t('site_name'))}" %>
    <%#= render "layouts/mendel" %>
    <%= render "layouts/top_board" %>
    <%= render "layouts/main_menu" %>
  </div>

  <%= yield %>

  <%= render "layouts/footer" %>
</div>
</body>
</html>
